@use "./../../../node_modules/bootstrap/scss/bootstrap.scss";

@use "./partials/_var.scss" as *;
@use "./partials/_navbar.scss";
@use "./partials/_footer.scss";

// app.scss

body {
  background-color: $bg_color_dark;
  color: $text_color_dark;
}

.light_mode {
  background-color: $bg_color_light;
  color: $text_color_light;

  // Override other components
  .navbar {
    background-color: $bg_color_light;
    color: $text_color_light;
  }

  .footer {
    background-color: $bg_color_light;
    color: $text_color_light;
  }
}
