@use "./../../../node_modules/bootstrap/scss/bootstrap.scss" as *;


@use "./partials/_var.scss" as *;
@use "./partials/_navbar.scss";
@use "./partials/_footer.scss";



body.dark_mode {
  background-color: $bg_color_dark;
  color: $text_color_dark;
}

body.light_mode {
  background-color: $bg_color_light;
  color: $text_color_light;
}

a{
  color: #0d8ca9;
}

.nota {
  color: brown;
  font-weight: bold;
  text-decoration: underline;
}

.dict {
  color: rgb(255, 140, 0);
  font-weight: bold;
}



