@use "./_var.scss" as *;

.navbar {
  background-color: #333333;
  color: #ffffff;

  a.navlink {
    color: #ffffff;

    &:hover {
      color: #cccccc;
    }

    &:active, &:focus, &:visited {
      color: #aaaaaa;
    }
  }
}

.light_mode .navbar {
  background-color: #f0f0f0;
  color: #000000; 

  a.navlink {
    color: #000000;

    &:hover {
      color: #333333;
    }

    &:active, &:focus, &:visited {
      color: #555555;
    }
  }
}


