// Dark mode variables
$bg_color_dark: #303030;
$text_color_dark: #f5f5f5;
// Light mode variables
$bg_color_light: #f3eeee;
$text_color_light: #000000;


// Dark mode nav
$bg_nav_dark: #7357d0;
$text_nav_dark: #000000;
// Light mode nav
$bg_nav_light: #252525;
$text_nav_light: #7357d0;
// Variabili per i link
$link_nav_dark: #ffffff;
$link_hover_nav_dark: #303030;
$link_active_nav_dark: #303030;

$link_nav_light: #7357d0;
$link_active_nav_light: #ffffff;

